// Auto genetated file
[
{
"name" : "hash - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "kdf - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "secretbox - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "sign - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "pwhash - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"compilation_cmd" : "-Dvolatile=",
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
]
