// Auto genetated file
[
{
"name" : "hash - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "kdf - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "kdf - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "kdf" 
}
,
{
"name" : "secretbox - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "secretbox - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "secretbox" 
}
,
{
"name" : "sign - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "sign - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "sign" 
}
,
{
"name" : "pwhash - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
,
{
"name" : "pwhash - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "pwhash" 
}
]
