// Auto genetated file
[
{
"name" : "hash - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
,
{
"name" : "hash - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "hash" 
}
]
